:root{
    /* bg colors */
    --bg-primary-color: rgba(52, 51, 51, 0.124);
    --bg-secondary-color: rgba(52, 51, 51, 0.124);
    --bg-active-color: rgba(234, 231, 231, 0.937);

    /* text colors */
    --text-primary-color: #efefef;
    --text-secondary-color: #a5a4a4;
    --text-active-color: #393939;

    /* padding variable */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    /* margin variable */
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-2xl: 3rem;

    /* gutter variable */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;

    /* font size variable */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

        /* border radius variable */
        --border-radius-sm: 0.2rem;
        --border-radius-md: 0.25rem;
        --border-radius-lg: 0.3rem;
        --border-radius-xl: 0.4rem;
        --border-radius-2xl: 0.5rem;
};